<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qna">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.categories.EditProfileActivity"></activity>
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProfileActivity" />
        <activity
            android:name=".activities.PostQuestionActivity"
            android:label="Post a New Question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RepliesActivity"
            android:label="Replies" />
        <activity
            android:name=".activities.categories.FoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.ArtActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.BookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.BusinessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.EconomicsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.EducationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.EntrepreneurshipActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.FashionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.FitnessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.MusicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.PetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.ScienceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.SportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.TechnologyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.categories.TravelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WelcomeScreen"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>